{% extends "extends/base_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}登录{% endblock %}
{% block page_content %}
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
        <br>
        {#    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>#}
{#        <p>新用户? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>#}
        <p>新用户? <a href="{{ url_for('auth.register') }}">点击注册</a>.</p>
    </div>
{% endblock %}
