<script>
    var chart = null;
    $(function () {
        $('#container-trigger').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
            },
            credits: {
                enabled: false
            },
            title: {
                floating: true,
                text: '触发器：30',
                style: {"color": "#333333", "fontSize": "13px"}
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    size: '70%',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y}',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    },
                    // point: {
                    //     events: {
                    //         mouseOver: function(e) {  // 鼠标滑过时动态更新标题
                    //             // 标题更新函数，API 地址：https://api.hcharts.cn/highcharts#Chart.setTitle
                    //             chart.setTitle({
                    //                 text: e.target.name+ '\t'+ e.target.y + ' %'
                    //             });
                    //         }
                    //         //,
                    //         // click: function(e) { // 同样的可以在点击事件里处理
                    //         //     chart.setTitle({
                    //         //         text: e.point.name+ '\t'+ e.point.y + ' %'
                    //         //     });
                    //         // }
                    //     }
                    // },
                }
            },
            series: [{
                type: 'pie',
                innerSize: '80%',
                name: '百分比',
                data: [
                    ['已启用', 5],
                    ['已禁用', 5],
                    ['模版', 20],
                ]
            }]
        }, function (c) {
            // 环形图圆心
            var centerY = c.series[0].center[1],
                    titleHeight = parseInt(c.title.styles.fontSize);
            c.setTitle({
                y: centerY + titleHeight / 2
            });
            chart = c;
        });
    });

</script>