{% extends "extends/base_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <form action="" id="myform" method="post" class="form form-horizontal" role="form"
          novalidate="novalidate">
        {{ form.csrf_token }}
        {% import 'macros/render_field.html' as macros %}
        {% import 'macros/render_select.html' as ms_select %}

        {{ ms_select.render_select("主机组", "group", select_groups, ['id', 'name']) }}
        {{ ms_select.render_select("主机", "host") }}
        {{ macros.render_field(form.name) }}
        {{ macros.render_field(form.notes) }}

        {% import 'macros/render_submit.html' as macros %}
        {{ macros.render_submit(url_for('cmp.index')) }}
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            // 获取组下拉框值,初始化host组
            {% if "new" in request.url_rule.rule %}
                var groupid = $('#group_id').val();
                var group_name = $('#group_id').find("option:selected").text();
                $('#name').val(group_name);
                set_host_select(groupid);
            {% else %}
                $('#group_id').val({{ cmp.groupid }});
                set_host_select({{ cmp.groupid }});
            {% endif %}


            // 点击组名下拉框时, 修改主机下拉框
            $('#group_id').change(function () {
                group_id = $(this).val();
                group_name = $(this).find("option:selected").text();
                // 修改名称为组名
                $('#name').val(group_name);
                set_host_select(group_id);
            });

        });

        // 修改主机下拉框options
        function set_host_select(groupid) {
            host_select = $('#host_id');
            $.ajax({
                url: "/cmp/ajax_get_hosts/" + groupid,
                method: "get",
                success: function (response) {
                    if (response.code == '500') {
                        $('#host_error').show();
                        $('#host_error').text(response.msg);
                    } else {
                        host_select.empty();
                        host_select.append(response.msg);
                        {% if "edit" in request.url_rule.rule %}
                            host_select.val({{ cmp.hostid }});
                        {% endif %}
                    }
                }
            });
        }
    </script>
{% endblock %}