{% extends "extends/base_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <form action="" id="myform" method="post" class="form form-horizontal" role="form"
          novalidate="novalidate">
        {{ form.csrf_token }}
        {% import 'macros/render_field.html' as macros %}
        {% import 'macros/render_select.html' as ms_select %}

        {{ ms_select.render_select("主机组", "group", select_groups, ['id', 'name']) }}
        {{ ms_select.render_select("主机", "host") }}
        {{ macros.render_field(form.name) }}
        {{ macros.render_field(form.notes) }}

        {% import 'macros/render_submit.html' as macros %}
        {{ macros.render_submit(url_for('cmp.index')) }}
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            // 获取组下拉框值,初始化host组
            {% if "new" in request.url_rule.rule %}
                var groupid = $('#group_id').val();
                var group_name = $('#group_id').find("option:selected").text();
                $('#name').val(group_name);
                set_host_select(groupid);
            {% else %}
                $('#group_id').val({{ cmp.groupid }});
                set_host_select({{ cmp.groupid }});
            {% endif %}


            // 点击组名下拉框时, 显示主机下拉框
            $('#group_id').change(function () {
                groupid = $(this).val();
                group_name = $(this).find("option:selected").text();
                // 修改名称为组名
                $('#name').val(group_name);
                set_host_select(groupid);
            });

        });

        // 设置主机信息
        function set_host_select(groupid) {
            $.ajax({
                url: "/cmp/ajax_get_hosts/" + groupid,
                method: "get",
                success: function (response) {
                    $("#host_id").empty();
                    $("#host_id").append(response);
                    {% if "edit" in request.url_rule.rule %}
                        $("#host_id").val({{ cmp.hostid }});
                    {% endif %}
                }
            });
        }
    </script>
{% endblock %}