{% extends "extends/base_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <form action="" id="myform" method="post" class="form form-horizontal" role="form"
          novalidate="novalidate">
        {{ form.csrf_token }}
        {% import 'macros/render_field.html' as macros %}
        {% import 'macros/render_select.html' as ms_select %}

        {{ ms_select.render_select("主机组", "group", select_groups, ['id', 'name']) }}
        {{ ms_select.render_select("主机", "host") }}
        {{ ms_select.render_select("应用集", "application") }}
        {{ ms_select.render_select("监控项", "item") }}
        {{ macros.render_field(form.name) }}
        {{ macros.render_field(form.notes) }}

        {% import 'macros/render_submit.html' as macros %}
        {{ macros.render_submit(url_for('cmp.index')) }}
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'cmp_item/_js.html' %}
{#    <script>#}
{#        $(function () {#}
{#            // 获取组下拉框值,初始化host组#}
{#            set_host_select();#}
{#            init_group_select();#}
{#            init_host_select();#}
{#            init_application_select();#}
{#        });#}
{#    </script>#}
{% endblock %}