{% extends "extends/base_page.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_bread_crumbs %}
    {% if "new" in request.url_rule.rule %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('cmp.index') }}">监控平台管理</a></li>
            <li class="active">{{ cmp.name }}</li>
        </ol>
    {% endif %}
{% endblock %}

{% block page_content %}
    {% include 'cmp_item/_form.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'cmp_item/_js.html' %}
{% endblock %}