<script>
    $(function () {
        var gaugeOptions = {
            chart: {
                type: 'solidgauge'
            },
            title: null,
            pane: {
                center: ['50%', '85%'],
                size: '100%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },
            tooltip: {
                enabled: false
            },
            // the value axis
            yAxis: {
                stops: [
                    [0.1, '#55BF3B'], // green
                    [0.5, '#DDDF0D'], // yellow
                    [0.9, '#DF5353'] // red
                ],
                lineWidth: 0,
                minorTickInterval: null,
                tickPixelInterval: 300,
                {#                tickPixelInterval: null,#}
                tickWidth: 0,
                title: {
                    // 标题到图形距离
                    y: -60
                },
                labels: {
                    y: 16
                }
            },
            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            }
        };

        // The memory gauge
        $('#container-cpu-cluster').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: {{ item_data['cpu_total'] or 0 }},
                tickInterval: {{ item_data['cpu_total'] or 0 }},
                title: {
                    text: 'CPU内核使用'
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'CPU内核使用',
                data: [{{ item_data['cpu_used'] or 0 }}],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +
                    '<span style="font-size:13px;color:silver"></span></div>'
                },
                tooltip: {
                    valueSuffix: ' '
                }
            }]
        }));

        // The memory gauge
        $('#container-memory').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: {{ item_data['ram_total'] or 0 }},
                tickInterval: {{ item_data['ram_total'] or 0 }},
                title: {
                    text: '内存使用'
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '内存使用',
                data: [{{ item_data['ram_used'] or 0 }}],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +
                    '<span style="font-size:13px;color:silver">TB</span></div>'
                },
                tooltip: {
                    valueSuffix: ' TB'
                }
            }]
        }));

        // 磁盘
        $('#container-storage').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: {{ item_data['storage_total'] or 0 }},
                tickInterval: {{ item_data['storage_total'] or 0 }},
                title: {
                    text: '存储使用'
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '存储使用',
                data: [{{ item_data['storage_used'] or 0 }}],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:20px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +
                    '<span style="font-size:13px;color:silver">TB</span></div>'
                },
                tooltip: {
                    valueSuffix: ' TB'
                }
            }]
        }));

        // 异常实例
        $('#container-instances').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: {{ item_data['instances_total'] or 0 }},
                tickInterval: {{ item_data['instances_total'] or 0 }},
                stops: [
                    [0.1, '#55BF3B'], // green
                    [0.5, '#55BF3B'], // yellow
                    [0.9, '#55BF3B'] // red
                ],
                title: {
                    text: '异常实例'
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: '异常实例',
                data: [{{ item_data['instances_error'] or 0 }}],
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:18px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span>' +
                    '<span style="font-size:13px;color:silver">个</span></div>'
                },
                tooltip: {
                    valueSuffix: ' 个'
                }
            }]
        }));

        // Bring life to the dials
        {#        setInterval(function () {#}
        {#            // Speed#}
        {#            var chart = $('#container-speed').highcharts(),#}
        {#                    point,#}
        {#                    newVal,#}
        {#                    inc;#}
        {#            if (chart) {#}
        {#                point = chart.series[0].points[0];#}
        {#                inc = Math.round((Math.random() - 0.5) * 100);#}
        {#                newVal = point.y + inc;#}
        {#                if (newVal < 0 || newVal > 200) {#}
        {#                    newVal = point.y - inc;#}
        {#                }#}
        {#                point.update(newVal);#}
        {#            }#}
        {#            // RPM#}
        {#            chart = $('#container-rpm').highcharts();#}
        {#            if (chart) {#}
        {#                point = chart.series[0].points[0];#}
        {#                inc = Math.random() - 0.5;#}
        {#                newVal = point.y + inc;#}
        {#                if (newVal < 0 || newVal > 5) {#}
        {#                    newVal = point.y - inc;#}
        {#                }#}
        {#                point.update(newVal);#}
        {#            }#}
        {#        }, 2000);#}
    });
</script>
