<script type="text/javascript" charset="utf-8">
    function start_ws() {
        if (window.WebSocket == undefined) {
            alert('浏览器不支持Web Socket');
            return false
        }
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.emit('connect_event', {method: 'ws_problem_update_table', data: {}});
        });

        var table_tbody = $('#dataTables-example tbody');

        // 更新表数据
        socket.on('ws_problem_update_table', function (msg) {
            // 清除所有表
            table_tbody.empty();
            for (var i = 0; i < msg.data.length; i++) {
                create_table('dataTables-example', msg.data[i]);
            }
        });
    }
</script>