<script type="text/javascript" charset="utf-8">
    function start_ws() {
        if (window.WebSocket == undefined) {
            alert('浏览器不支持Web Socket');
            return false
        }
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.emit('connect_event', {});
        });

        socket.on('ws_update_page', function (msg) {
            data = msg.data
            console.log(data);
            // 更新CPU数值
            update_yibiao('container-cpu-cluster', data['cpu_used'], data['cpu_total']);
            // 更新内存数值
            update_yibiao('container-memory', data['ram_used'], data['ram_total']);
            // 更新存储数值
            update_yibiao('container-storage', data['storage_used'], data['storage_total'])
            // 更新实例数值
            update_yibiao('container-instances', data['instances_error'], data['instances_total']);
        });
    }

    // 更新仪表图形
    function update_yibiao(id, current_value, max) {
        var chart = $('#' + id).highcharts(), point;
        if (chart) {
            point = chart.series[0].points[0];
            chart.yAxis[0].setExtremes(0, max);
            point.update(current_value);
        }
    }
</script>