{% import "macros/main/render_component.html" as macros %}
<!-- 显示云平台各组件信息 -->
<div class="row">
    {{ macros.render_component('Keystone', item_data['keystone'], 'panel-primary', 'fa-key') }}
    {{ macros.render_component('Controller', item_data['controller'], 'panel-green', 'fa-gears') }}
    {{ macros.render_component('Nova', item_data['nova'], 'panel-green', 'fa-sitemap') }}
    {{ macros.render_component('Cinder', item_data['cinder'], 'panel-yellow', 'fa-tasks') }}
    {{ macros.render_component('Horizon', item_data['horizon'], 'panel-info', 'fa-dashboard') }}
</div>