{#{% extends "extends/host_tab.html" %}#}
{% extends "extends/base_page.html" %}
{% block page_bread_crumbs %}
    <ol class="breadcrumb">
        <li><a href="#">主机</a></li>
        <li><a href="#">10.43.4.85</a></li>
        <li class="active">资产信息</li>
    </ol>
{% endblock %}
{% block page_header %}
    {#    <div class="page-header">#}
    {#        <h3>主机: {{ inventorys[0].host_name }}</h3>#}
    {#    </div>#}
{% endblock %}

{#{% block page_content %}#}
{#    <div id="update_div"></div>#}
{#{% endblock %}#}
{#<div id="update_div"></div>#}

{% block page_content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    系统信息
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body scroll">
                    <!-- 系统信息 -->
                    <div class="form-group fs12">
                        <label>系统种类</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.os_short }}">
                        <p class="help-block">操作系统简写, 如: Centos、Ubuntu、Redhat等等.</p>
                    </div>
                    <div class="form-group fs12">
                        <label>操作系统</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.os }}">
                    </div>
                    <div class="form-group fs12">
                        <label>操作系统描述</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.os_full }}">
                    </div>
                    <div class="form-group fs12">
                        <label>Mac地址A</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.macaddress_a }}">
                    </div>
                    <div class="form-group fs12">
                        <label>Mac地址B</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.macaddress_b }}">
                    </div>
                    <div class="form-group fs12">
                        <label>软件应用程序A</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.software_app_a }}">
                    </div>
                    <div class="form-group fs12">
                        <label>软件应用程序B</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.software_app_b }}">
                    </div>
                    <div class="form-group fs12">
                        <label>软件应用程序C</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.software_app_c }}">
                    </div>
                    <div class="form-group fs12">
                        <label>软件应用程序D</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.software_app_d }}">
                    </div>
                    <div class="form-group fs12">
                        <label>软件应用程序E</label>
                        <input class="form-control fs12 ht28" value="{{ inventory.software_app_e }}">
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pill Tabs
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#home-pills" data-toggle="tab">Home</a>
                        </li>
                        <li><a href="#profile-pills" data-toggle="tab">Profile</a>
                        </li>
                        <li><a href="#messages-pills" data-toggle="tab">Messages</a>
                        </li>
                        <li><a href="#settings-pills" data-toggle="tab">Settings</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="home-pills">
                            <h4>Home Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="profile-pills">
                            <h4>Profile Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="messages-pills">
                            <h4>Messages Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.</p>
                        </div>
                        <div class="tab-pane fade" id="settings-pills">
                            <h4>Settings Tab</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.</p>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

{% endblock %}





{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            // 加载资产信息
            update_tab_content('asset_info');
        });

        function update_tab_content(tab_name) {
            $.ajax({
                url: '/host/' + tab_name + '/' + {{ session['hostid'] }},
                method: "get",
                success: function (response) {
                    $('#update_div').html(response);
                }
            });
        }
    </script>
{% endblock %}
