{% macro render_field(field) %}
    <div class="form-group">
        {{ field.label(class="control-label col-sm-2") }}
        {% if field.flags.required %}
            <span class="red fl">*</span>
        {% endif %}
        <div class="col-sm-6">
            {% if field.flags.required %}
                {{ field(class="form-control", required="") }}
            {% else %}
                {{ field(class="form-control") }}
            {% endif %}
            {{ field.label(class="error", text=" ", style="display:none") }}
            {#            {% if field.errors %}#}
            {#                {% for error in field.errors %}#}
            {#                    {{ field.label(class="error", text=error) }}#}
            {#                {% endfor %}#}
            {#                <ul class=errors>#}
            {#                    {% for error in field.errors %}#}
            {#                        <li>{{ error }}</li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            {% endif %}#}
        </div>
    </div>
{% endmacro %}

{% macro show_field(field) %}
    <div class="form-group">
        {{ field.label(class="control-label col-sm-2") }}
        <div class="col-sm-6">
            {{ field }}
        </div>
    </div>
{% endmacro %}