<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/metisMenu.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/dataTables.responsive.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/sb-admin-2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/font-awesome.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/bootstrap-datetimepicker.min.css') }}">

<!-- 多选框-下拉 -->
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/multi-select.css') }}">

<!-- 提示框 -->
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/bootstrap-popover-x.css') }}">

<!-- 菜单向下滑动 -->
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/responsive.css') }}">

<!-- 多选框 -->
<link rel="stylesheet" href="{{ url_for('static', filename='jq-chosen/css/bootstrap-chosen.css') }}">

{#<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload.css') }}">#}
{#<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fileupload-ui.css') }}">#}
<!-- 文件上传 -->
<link rel="stylesheet" href="{{ url_for('static', filename='bs-fileinput/css/fileinput.css') }}">

<!-- 自定义、全局 -->
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/custom.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bs/css/global.css') }}">