<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">DevOps</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %} class="active" {% endif %}>
                    <a href="/">首页</a>
                </li>

                {#                <li {% if 'inventory' in request.url_rule.rule %} class="active" {% endif %}>#}
                {#                    <a href="/inventory/index">资产管理</a>#}
                {#                </li>#}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">资产管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/host_group/index">主机组管理</a></li>
                        <li><a href="/host_group/new">主机组添加</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/inventory/index">主机管理</a></li>
{#                        <li><a href="/host/index">主机管理</a></li>#}
{#                        <li><a href="/host/new">主机添加</a></li>#}
                    </ul>
                </li>

                <li {% if 'problem' in request.url_rule.rule %} class="active" {% endif %}>
                    <a href="/problem/index">监控告警</a>
                </li>
                {#                <li><a href="/problem/index">数据分析</a></li>#}
                {#                <li><a href="/host/index">图形</a></li>#}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">日常运维 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">文件推送</a></li>
                        <li><a href="#">脚本执行</a></li>
                        <li><a href="#">软件安装</a></li>
                        <li><a href="#">性能优化</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">高级运维 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {#                        <li><a href="/script_manage/index">文件推送</a></li>#}
                        {#                        <li><a href="/script_manage/index">脚本执行</a></li>#}
                        <li><a href="/homework/index">作业管理</a></li>
                        <li><a href="/task/new">任务编排</a></li>
                        <li><a href="/task/homework_index">任务列表</a></li>
                        <li><a href="/task/log">任务日志</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">系统管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {#                        <li><a href="/script_manage/index">应用管理</a></li>#}
                        <li><a href="/script_manage/index">脚本管理</a></li>
                        <li><a href="/component/index">组件管理</a></li>
                        {#                        <li><a href="/software/optimize">变量管理</a></li>#}
                        <li><a href="/software/optimize">文件管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/script_manage/new">脚本添加</a></li>
                        <li><a href="/component/new">组件添加</a></li>
                        <li role="separator" class="divider"></li>
                        {#                        <li><a href="/software/optimize">Zabbix管理</a></li>#}
                        <li><a href="/cmp/index">监控模版管理</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户设置</a>
                        </li>
                        {#                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>#}
                        </li>
                        <li class="divider"></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out fa-fw"></i> Sign Out</a>
                                {% else %}
                            <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-in fa-fw"></i> Sign Out</a>
                        {% endif %}
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>

            </ul>
        </div>
    </div>
</div>